<div class="review">
    <form class="form" method="POST" action="#" id="toform">
        <div class="form__title">Ваш отзыв</div>
        <div class="form__inner">
            <div class="form__field-wrap">
                <div class="field input-group">
                    <input class="field__input field__part form-control" type="text" name="name" placeholder="Ваше имя">
                </div>
                <div class="field input-group">
                    <input class="field__input field__part form-control" type="text" name="place" placeholder="Укажите место">
                </div>
                <div class="field field--textarea input-group">
                    <textarea class="form-control" name="content" placeholder="Поделитесь впечатлениями"></textarea>
                </div>
            </div>
            <div class="button">
                <button class="button__text btn" type="button">Написать отзыв</button>
            </div>
        </div>
    </form>
</div>